<app-header
  [pretragaTelefoni]="filtriraniTelefoni"

></app-header>
<div class="container">
<div class="lijevi-meni">
  <div class="brendovi-container">
   <p>Pretraga po brendovima</p>
    <h6 class = "btnSvi" (click)="preuzmiTelefone()">Svi</h6>
    <div class="brendovi" *ngFor="let x of brendovi">
      <option (click)="filtriraj(x)" class="brend-stavka" value="{{x.id}}" >{{x.opis}}</option>

    </div>
  </div>
</div>
</div>
<app-banners></app-banners>
<
  <div class="mobiteli-container">
    <div class="telefon-container"  *ngFor="let x of filtriraniTelefoni" >
      <h3 class="telefon-naslov">{{x.proizvodjac.opis}} {{x.model}}</h3>
        <img src="{{x.slika_telefona}}" alt="">
      <div class="stanje-container">
        <h6>Stanje: </h6>
        <h6 class="stanje" *ngIf="x.novo">Novo</h6>
        <h6 class="stanje" *ngIf="x.novo==false">Polovno</h6>
      </div>
      <div class="garancija-container">
        <h6 class="garancija">Garancija: </h6>
        <h6 class="garancija" *ngIf="x.garancija"> {{x.mjeseciGarancije}} mjeseci </h6>
        <h6 class="garancija" *ngIf="x.garancija==false">/</h6>
      </div>
      <h6 class="cijena">{{x.cijena}} KM</h6>
      <button class="btn btn-primary" (click)="Detalji(x)">Detalji</button>
    </div>
  </div>


