<div class="header">
<div class="header-lijevo">
  <img class="logo" src="../../../assets/slike/mobifon.png" alt="">
</div>
  <div class="header-desno">
    <ul class="meni">
      <a routerLink="/"><li class="meni-stavke">
        Početna
      </li></a>
      <li class="meni-stavke">
        O nama
      </li>
      <li class="meni-stavke">
        Kontakt
      </li>

      <form class="form-inline">
        <input [(ngModel)]="telefonOpis" class="form-control mr-sm-2" id="search" type="search" name="search" placeholder="Search" aria-label="Search">
      </form>


    </ul>
  </div>
</div>
